* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-image: url(images/pic_01.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Saira Semi Condensed', 'Times New Roman';
  font-size: 20px;
  min-width: 1000px;
}



/* 로고 및 검색 */
#main-header {
  /* background: rgba(0, 0, 0, 0.151); */
  color: white;
  height: 80px;
}

#main-header > .logo {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  font-family: 'Julius Sans One', 'Times New Roman', Times, serif;
  vertical-align: middle;
  text-shadow: 1px 3px 6px #000;
}

.logo a {color: #fff;}

.logo a > span {font-size: 24px;}

#main-header .search-box {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
}

.search-box .search {
  width: 500px;
  height: 30px;
  padding: 3px;
  outline: none;
  vertical-align: middle;
}

.search-box button {
  height: 30px;
  padding: 5px;
  background: brown;
  color: rgb(230, 230, 230);
  border-style: none;
  vertical-align: middle;
  cursor: pointer;
}



/* gnb */
.gnb-box {
  /* outline: 1px solid yellow; */
  width: 13%;
  position: sticky;
}

.gnb-box #gnb {
  font-weight: normal;
  /* position: fixed; */
  /* outline: 1px solid yellow; */
}

#gnb li {
  /* outline: 1px solid blue; */
  display: block;
  height: 90px;
  text-align: left;
  padding-top: 30px;
  /* margin-left: 10px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.267);
}

#gnb li:hover {
  background: rgba(0, 0, 0, 0.904);
}

#gnb a {
  color: white;
  font-size: 20px;
}



/* 타이틀 */
.container {
  /* outline: 1px solid blue; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title .head-text {
  /* outline: 1px solid salmon; */
  color : rgb(229, 255, 0);
  font-size: 60px;
  font-family: 'Julius Sans One', 'Times New Roman';
  font-weight: bold;
  text-align: right;
  text-shadow: 0 3px 8px #000;
  margin-right: 200px;
  margin-top: 150px;
 }

.title > .title-content{
  width: 420px;
  height: 350px;
  /* background: rgba(0, 0, 0, 0.8); */
  background-image: url(images/paper-texture3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 3px 6px rgb(0, 0, 0);
  border: 12px solid rgb(34, 33, 31);
  color: #000;
  margin-top: 30px;
  margin-left: 250px;
  font-family: 'Times New Roman';
  text-align: center;
}

.title-content .title-text {
  font-size: 30px;
  margin-top: 30px;
  text-shadow: 0 0 1px #000;
  font-weight: bold;
}

.title-text, .content-text {
   /* margin-left: 40px; */
   margin-top: 20px;
   font-weight: normal;
   text-shadow: 0 0 0.5px #000;
}
 